---
import Layout from '../layouts/Layout.astro';
import Fa from 'svelte-fa'
import { faCircleArrowDown } from '@fortawesome/free-solid-svg-icons'


const sections = [
	{
		header: 'DIE NEUE FASHION APP',
		subHeader: 'Wie funktioniert Rate my Style? Wir erklären es dir in wenigen Schritten!',
		text: 'In Rate My Style hast du die Möglichkeit anonym deinen Style von anderen Nutzer:innen bewerten zu lassen und zu vermarkten. Gleichzeitig kannst du durch den Content der Community Inspirationen für deinen eigenen Modestil finden. Wie Rate My Style genau funktioniert, erklären wir dir auf den nächsten Seiten!',
		img: '/mockup.png'
	},
	{
		header: 'BEWERTE OUTFITS',
		subHeader: 'Lass dich nach deinem Geschmack inspirieren!',
		text: 'In Rate my Style werden dir Styles von anderen Nutzer:innen der App vorgeschlagen. Ist das Outfit nach deinem Geschmack, swipest du es nach rechts, andernfalls nach links. Im Laufe der Zeit erkennen unsere Algorithmen deine Vorlieben und schlagen dir Styles vor, die perfekt auf deine Vorlieben zugeschnitten sind.',
		img: '/mockup.png'
	},
	{
		header: 'IDENTIFIZIERE KLEIDUNGSSTÜCKE',
		subHeader: 'Das Outfit willst du haben? Bekommst du!',
		text: 'Auf jedem Style können die getragenen Kleidungsartikel zu der Website des Online-Händlers verlinkt werden. Somit kannst du sehen, wo die einzelnen Kleidungsstücke gekauft wurde. Gefällt dir ein Artikel besonders gut, drückst du einfach auf den Button und wirst direkt zum Onlineshop weitergeleitet.',
		img: '/mockup.png'
	},
	{
		header: 'FILTERE NACH OUTFITS',
		subHeader: 'Ein Kleid zum Ausgehen? Wie wäre es mit diesem!',
		text: 'Suchst du nach bestimmten Artikeln, wie beispielsweise einem Kleid, oder möchtest dich für ein Outfit für das nächste Dinner inspirieren lassen, kannst du Einstellungen im Filter vornehmen. Dir werden anschließend nur noch Styles zum Bewerten vorgeschlagen, die deinen Filtereinstellungen entsprechen.',
		img: '/mockup.png'
	},
	{
		header: 'FINDE DIE NEUSTEN TRENDS',
		subHeader: 'Wie sieht die Mode von morgen wirklich aus? Wir zeigen es dir!',
		text: 'Anhand der Bewertungen aller Nutzer:innen der App erkennen wir die Styles, die besonders beliebt sind. Jede Woche werden die besten 100 Styles in der Kategorie TopStyles angezeigt. Somit bekommst du eine aktuelle Übersicht über neue Trends und die beliebtesten Outfits, die wirklich getragen werden.',
		img: '/mockup.png'
	},
	{
		header: 'BESTIMME DIE MODE VON MORGEN',
		subHeader: 'Du wolltest deinen Style schon immer mal bewerten lassen? Es geht ganz einfach!',
		text: 'Möchtest du selbst deinen Style bewerten lassen und die Trends von morgen mitbestimmen, kannst du ein Foto von dir in deinem Outfit hochladen. Das Bild wird anschließend von uns automatisch anonymisiert, um den Fokus einzig auf deinen Style zu lenken. Wie die anderen Nutzer:innen auch kannst auch du Kleidungsstücke des Online-Händlers verlinken. Dazu öffnest du ganz einfach die Website des Online-Händlers, suchst den Artikel und fügst den Link zu deinem Bild hinzu.',
		img: '/mockup.png'
	},
	{
		header: 'DEIN TOLLER STYLE WIRD BELOHNT',
		subHeader: 'Deine Styles kommen gut an? Dann verdienst du Geld!',
		text: 'Sollten anderen Nutzer:innen deine Styles gefallen, können diese mit Hilfe deiner Verlinkung zum Online-Shop des Anbieters gelangen. Sollten sie den Artikel anschließend kaufen, wir dir ein Teil des Kaufpreises gutgeschrieben. Somit kannst du durch jeden verkauften Artikel mit Hilfe deiner Styles Geld verdienen.',
		img: '/mockup.png'
	},
];
const downloads = [
	{
		name: 'iOS',
		link: '',
		img: '/download-ios.png'
	},
	{
		name: 'Android',
		link: '',
		img: '/download-android.png'
	}
]
	
---

<Layout title="Rate My Style">
	
	<main>
		<div id="hero" class="p-8">
			<div class="hero_containerText">
				<div class="hero_header">Rate My Style</div>
				<div class="hero_subHeader">Setze neue Fashion Trends & lass dich inspirieren!</div>
				<!-- <div class="bg-main w-36 h-12 p-2 rounded flex items-center border-2 border-white text-white font-bold">Contact us</div> -->
			</div>
			<div class="hero_containerDownload">
				<div class="hero_containerDownload_container">
					<div class="hero_containerDownload_text">
						Coming Soon
					</div>
					<div class="flex flex-row gap-2 pt-4">
						{downloads.map(download =>
							<img src={download.img} alt={download.name} class="hero_containerDownload_download" />
						)}
					</div>
				</div>
			</div>
			<div class="hero_leanrMore">
				<div class="pb-5">Learn more</div>
				<Fa id="arrContainer" icon={faCircleArrowDown} color="white"/>
			</div>
		</div>
		{sections.map(section => 
			<section>
				<div class="mockupContainer">
					<img src={section.img} alt="mockup" class="mockup" />
				</div>
				<div class="description">
					<div class="text-2xl font-bold">{section.header}</div>
					<div class="text-xl">{section.subHeader}</div>
					<div class="pt-3">{section.text}</div>	
				</div>
			</section>
		)}
	</main>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
		margin: 19px;
		/* border: 1px solid black; */
		padding: 10px;
		background-color: white;
		border-radius: 30px;
	}
	.description {
		padding: 2rem;
	}
	section:last-child {
		padding-bottom: env(safe-area-inset-bottom, 0.5vh);;
	}
	.mockupContainer {
		display: flex;
    	justify-content: center;
	}
	.mockup {
		height: 70vh;
		filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.2)) drop-shadow(20px 0 20px rgba(0, 0, 0, 0.15)) drop-shadow(30px 0 30px rgba(0, 0, 0, 0.1));
	}
	#hero {
		background-image: url('/hero.png');
		background-size: cover;
		background-position: center;
		height: calc(100vh - 10vh);

		display: grid;
    	grid-template-rows: 1fr 1fr;
		color: white;

		position: relative;
		padding-bottom: calc(6rem + env(safe-area-inset-bottom));
	}
	.hero_containerText {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero_header {
		font-size:3rem;
	}
	.hero_subHeader {
		font-size:1.5rem;
	}
	.hero_containerDownload {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
		display: none;
	}
	.hero_containerDownload_text {
		font-size: 0.8rem;
		text-align: center;
	}
	.hero_containerDownload_download {
		height: 2rem;
		width: 8rem;
		cursor: pointer;
	}

	.hero_leanrMore {
		position: absolute;
		bottom: 10vh;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@keyframes moveUpDown {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-20px);
		}
		100% {
			transform: translateY(0);
		}
	}

	#arrContainer {
		animation: moveUpDown 2s ease-in-out infinite;
	}


	@media screen and (min-width: 1024px) { 
	section {
		height: calc(100vh - 15vh);
		background-color: #EBEBEB;
		padding: 6vh 6vw;

		display: flex;
		flex-direction: row;
		justify-content: center;
		/* gap: 12rem; */
	}
	section:nth-child(2n) {
		background-color: #F2F2F2;

		justify-content: flex-end;
		flex-direction: row-reverse;
	}
	#hero {
		height: calc(100vh - 15vh);
		padding-left: 6rem;
		padding-top: 6rem;
	}

	.hero_containerDownload {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	
	h1 {
		margin-top: 0;
	}
	.description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
	}
	.mockupContainer {
		display: flex;
    	align-items: center;
		height: 100%;
		width: 100%;
	}
	.mockup {
		height: 80%;
	}
}
</style>
