---
import Layout from '../layouts/Layout.astro';
import Fa from 'svelte-fa'
import { faCircleArrowDown } from '@fortawesome/free-solid-svg-icons'


const sections = [
	{
		header: 'REVOLUTIONIERE DEIN MODEERLEBNIS',
		subHeader: 'Die Funktionsweise von Rate my Style – einfach erklärt!',
		text: 'Rate My Style eröffnet dir eine Plattform, um deinen persönlichen Stil anonym bewerten und monetarisieren zu lassen. Dabei kannst du gleichzeitig durch den Content der Community neue Ideen für deine Outfits sammeln. Im Folgenden führen wir dich durch die Details und Funktionen von Rate My Style.',
		img: '/mockup.png'
	},
	{
		header: 'BEWERTUNGSSYSTEM FÜR OUTFITS',
		subHeader: 'Inspiriere dich durch die Geschmacksvielfalt unserer Community!',
		text: 'Rate my Style präsentiert dir eine Vielzahl von Outfits, erstellt von unseren Nutzer:innen. Je nach deiner Präferenz kannst du diese nach rechts oder links swipen. Unsere intelligenten Algorithmen passen sich im Laufe der Zeit deinem Geschmack an und bieten dir maßgeschneiderte Stilvorschläge.',
		img: '/mockup.png'
	},
	{
		header: 'ARTIKELIDENTIFIKATION',
		subHeader: 'Gefällt dir ein Outfit? Hol es dir einfach!',
		text: 'Jeder vorgestellte Style kann mit entsprechenden Kleidungsartikeln verlinkt werden, die auf die jeweilige Händlerseite führen. So siehst du auf einen Blick, wo du die Teile erwerben kannst. Bei Gefallen eines bestimmten Artikels gelangst du per Klick auf den Button direkt zur Verkaufsseite des Anbieters.',
		img: '/mockup.png'
	},
	{
		header: 'OUTFIT-SUCHE',
		subHeader: 'Suchst du ein spezielles Outfit? Kein Problem!',
		text: 'Ob du ein bestimmtes Kleidungsstück suchst oder ein Outfit für eine spezielle Gelegenheit zusammenstellen möchtest, unser individuell anpassbarer Filter unterstützt dich dabei. Rate my Style zeigt dir anschließend ausschließlich Styles, die deinen Filtereinstellungen entsprechen.',
		img: '/mockup.png'
	},
	{
		header: 'TRENDSCOUTING',
		subHeader: 'Bleibe immer auf dem neuesten Stand der Modewelt!',
		text: 'Mit Hilfe der Bewertungen unserer Nutzer:innen identifizieren wir die beliebtesten Styles. Diese präsentieren wir dir wöchentlich in der TopStyles-Kategorie. So erhältst du einen aktuellen Überblick über aufkommende Trends und beliebte Outfits in der Community.',
		img: '/mockup.png'
	},
	{
		header: 'MODE VON MORGEN',
		subHeader: 'Möchtest du deinen Style bewerten lassen? Hier ist wie es geht!',
		text: 'Wenn du deinen eigenen Style zur Bewertung bereitstellen und somit den Modetrends von morgen mitgestalten möchtest, kannst du einfach ein Foto deines Outfits hochladen. Wir anonymisieren das Bild automatisch, um den Fokus auf dein Outfit zu lenken. Du hast zudem die Möglichkeit, direkt zu den Online-Shops zu verlinken, indem du den Link zu dem jeweiligen Artikel hinzufügst.',
		img: '/mockup.png'
	},
	{
		header: 'VERDIENE MIT DEINEM STIL',
		subHeader: 'Dein Style begeistert? Mach ihn zu Geld!',
		text: 'Falls deine Styles Anklang finden und Nutzer:innen über deine Verlinkungen einkaufen, erhältst du einen Teil des Verkaufserlöses. So hast du die Möglichkeit, mit deinem individuellen Stil Geld zu verdienen.',
		img: '/mockup.png'
	},
];
const downloads = [
	{
		name: 'iOS',
		link: '',
		img: '/download-ios.png'
	},
	{
		name: 'Android',
		link: '',
		img: '/download-android.png'
	}
]
	
---

<Layout title="Rate My Style">
	
	<main>
		<div id="hero" class="p-8">
			<div class="hero_containerText">
				<div class="hero_header">Rate My Style</div>
				<div class="hero_subHeader">Setze neue Fashion Trends & lass dich inspirieren!</div>
				<!-- <div class="bg-main w-36 h-12 p-2 rounded flex items-center border-2 border-white text-white font-bold">Contact us</div> -->
			</div>
			<div class="hero_containerDownload">
				<div class="hero_containerDownload_container">
					<div class="hero_containerDownload_text">
						Coming Soon
					</div>
					<div class="flex flex-row gap-2 pt-4">
						{downloads.map(download =>
							<img src={download.img} alt={download.name} class="hero_containerDownload_download" />
						)}
					</div>
				</div>
			</div>
			<div class="hero_leanrMore">
				<div class="pb-5">Learn more</div>
				<Fa id="arrContainer" icon={faCircleArrowDown} color="white"/>
			</div>
		</div>
		{sections.map(section => 
			<section>
				<div class="mockupContainer">
					<img src={section.img} alt="mockup" class="mockup" />
				</div>
				<div class="description">
					<div class="text-2xl font-bold">{section.header}</div>
					<div class="text-xl">{section.subHeader}</div>
					<div class="pt-3">{section.text}</div>	
				</div>
			</section>
		)}
	</main>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
		margin: 19px;
		/* border: 1px solid black; */
		padding: 10px;
		background-color: white;
		border-radius: 30px;
	}
	.description {
		display: flex;
		flex-direction: column;
		gap: .4rem;
		padding: 2rem;
	}
	section:last-child {
		padding-bottom: env(safe-area-inset-bottom, 0.5vh);;
	}
	.mockupContainer {
		display: flex;
    	justify-content: center;
	}
	.mockup {
		height: 70vh;
		filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.2)) drop-shadow(20px 0 20px rgba(0, 0, 0, 0.15)) drop-shadow(30px 0 30px rgba(0, 0, 0, 0.1));
	}
	#hero {
		background-image: url('/hero.png');
		background-size: cover;
		background-position: center;
		height: calc(100vh - 10vh);

		display: grid;
    	grid-template-rows: 1fr 1fr;
		color: white;

		position: relative;
		padding-bottom: calc(6rem + env(safe-area-inset-bottom));
	}
	.hero_containerText {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero_header {
		font-size:3rem;
	}
	.hero_subHeader {
		font-size:1.5rem;
	}
	.hero_containerDownload {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		display: none;
	}
	.hero_containerDownload_text {
		font-size: 0.8rem;
		text-align: center;
	}
	.hero_containerDownload_download {
		height: 2rem;
		width: 8rem;
		cursor: pointer;
	}

	.hero_leanrMore {
		position: absolute;
		bottom: 10vh;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@keyframes moveUpDown {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-20px);
		}
		100% {
			transform: translateY(0);
		}
	}

	#arrContainer {
		animation: moveUpDown 2s ease-in-out infinite;
	}


	@media screen and (min-width: 1024px) { 
	section {
		height: calc(100vh - 15vh);
		/* background-color: #EBEBEB; */
		padding: 6vh 6vw;

		display: flex;
		flex-direction: row;
		justify-content: center;
		/* gap: 12rem; */
	}
	section:nth-child(2n) {
		/* background-color: #F2F2F2; */

		justify-content: flex-end;
		flex-direction: row-reverse;
	}
	#hero {
		height: calc(100vh - 15vh);
		padding-left: 6rem;
		padding-top: 6rem;
	}

	.hero_containerDownload {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	
	.hero_leanrMore {
		bottom: 10px
	}
	
	h1 {
		margin-top: 0;
	}
	.description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
	}
	.mockupContainer {
		display: flex;
    	align-items: center;
		height: 100%;
		width: 100%;
	}
	.mockup {
		height: 80%;
	}
}
</style>
